
<h2 class=" m-5 text-center py-5 font-weight-bolder">OUR LATEST MOVIES</h2>

<p class=" py-5 text-center m-5">
    This site specializes in modern, old, and most-watched movies, as well as the most famous actors

    As the cinema experience continues to improve with technological advancements in Imax, <br> 3D and fully immersive sound, so too does the aesthetic experience of the web with its glorious HTML5, parallax scrolling and super-slick CSS3 coding.

It’s as if they’re competing directly for our attention!

Thankfully the home experience will never match the cinema experience no matter how cutting edge your home cinema set-up may be. 

Just think of the sheer visceral horror of watching Sandra Bullock spinning out of control in the depths of space and how muted it will seem while watching it in bed on your tablet.

These films still need to be marketed through these less than cinematic desktops and portable devices in order to drag us out of our homes and into the theatres.

Luckily the fast pace of change in web design trends has meant that the large scale experience of cinema can be substituted online in brilliant alternative and innovative ways.

Below is this movie site that features either captivating visuals, major technological breakthroughs, innovative user experience or highly interactive fun, while also perfectly capturing the essence of online movie.

</p>
