
<section >

      <div class=" container">
        
    <owl-carousel-o [options]="customOptions">
  
      <ng-container *ngFor="let movie of trendingMovies">

        <ng-template carouselslide [id]="movie.id">
        
          <img class=" w-100" [src]="imgPrefix+movie.poster_path" [alt]="movie.title">
          <h3>{{movie.overview}}</h3>
       
 

        </ng-template>
      </ng-container>
  
    </owl-carousel-o>

    

    </div>

</section>

<header class="vh-100 d-flex ">

  <div class="layer d-flex align-items-center justify-content-center ">

    <div>
      <h1 class=" font-weight-bolder"> <span class=" o">O</span>UR LATEST MOVIES</h1> 

      <h3 class=" text-center">MOST WATCHED MOVIES</h3>

    </div>

  </div>


</header>