
section
{
    background-position: center center;
}

header
{
    background-image: url(../../assets/images/fantasy-2530602_1920.jpg);
    background-size: cover;
    background-position: center center;
}
.layer
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.o
{
    font-size: 70px;
}