section
{
    background-image: url(../../assets/images//ticket-2974645_1920.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.layer
{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transition: top 0.5s;
    opacity: 0;

}

.tv-content:hover .layer 
{
    transition-duration: 0.5s;
    opacity: 1;
    cursor: pointer;
}
.tv-content:hover img
{
    transform: scale(1.3,1.3);
    transition-duration: 0.5s;
}


.tv-content
{
    overflow: hidden;
}


.layer-2
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

img
{
    border-radius: 25%;
}